*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    min-height: 100vh;
    font-family: 'Roboto',sans-serif;
}
.calculator{
    position: relative;
    width: 340px;
    padding: 20px;
    border-radius: 20px;
    background-color: coral;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.2), -15px -15px 20px lightslategrey;
}
.calculator .buttons{
    position: relative;
    display: grid;
}

#dot{
    background-color: hotpink;
    color: white;
    font-weight: bold;
}
.function-key{
    background-color: mediumpurple;
    color: white;
    font-weight: bold;
}
#value{
    position: relative;
    grid-column:span 4;
    user-select: none;
    overflow: hidden;
    width: 100%;
    text-align: end;
    color: black;
    height: 100px;
    box-shadow:inset 5px 5px 10px rgba(0,0,0,0.1), -5px -5px 10px #ffff;
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 0 20px;
    font-size: 2em;
    font-weight: 500;
}
.calculator .buttons span{
    position: relative;
    padding: 10px;
    /*box-shadow: 5px 5px 10px rgba(0,0,0,0.1), -5px -5px 20px #ffff;*/
    margin: 10px;
    cursor: pointer;
    user-select: none;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    /*color: #000;*/
    border: 2px solid #edf1f4;
    border-radius: 10px;
}
.calculator .buttons span:active{
    background-color: white;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1),inset -5px -5px 10px #fff;
    color: #f44336;
}
#clear{
    grid-column: span 2;
    background-color: red;
    color: #fff;
    border: 2px solid #edf1f4;
}
#plus{
    grid-row: span 2;
    background-color: green;
    color: #fff;
    border: 2px solid #edf1f4;

}
#equal{
    grid-row: span 2;
    background-color: darkslateblue;
    color: #fff;
    border: 2px solid #edf1f4;
}

#clear:active,
#plus:active,
#equal:active{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1), -5px -5px 10px #fff, inset 5px 5px 10px rgba(0,0,0,0.1);

}